{{if .Error}}
<div class="alert alert-danger">{{.Message}}</div>
{{end}}
<div class="container" style="margin-top: 79px">
  <h1 class="text-center text-primary" style="margin-bottom: 30px; font-family: &quot;Tektur&quot;">
    Simple Golang Todolist
  </h1>
  <div class="container bg-dark rounded" style="width: 80%">
    <form class="d-flex p-2 rounded needs-validation" method="post" action="/todolist" autocomplete="off"
      style="font-family: &quot;Anonymous Pro&quot;">
      <input class="form-control me-2" type="text" placeholder="Add Todolist" name="name" required />
      <button class="btn btn-outline-primary disabled" type="submit">
        Add
      </button>
    </form>
    <span class="text-danger" style="
        position: relative;
        top: -8px;
        left: 8px;
        display: none;
        font-size: 12px;
        font-family: &quot;Anonymous Pro&quot;;
      "></span>
  </div>
</div>

<div class="container mt-4 mb-4">
  {{range $index,$element := .Todolist}}
  <div class="content d-flex rounded bg-light" style="overflow: scroll">
    <h3 class="header text-center" style="font-size: 18px">
      {{$element.Name}}
    </h3>
    <span class="d-flex align-items-center">
      <a href="/todolist/{{$element.Id}}"><i class="fa-solid fa-pencil text-warning" style="font-size: 23px"></i></a>
      <form action="/todolist/{{$element.Id}}" style="margin-left: 8px" method="post">
        <input type="hidden" name="id" value="{{$element.Id}}" required /><button type="submit" class="btn">
          <i class="fa-solid fa-trash text-danger" style="font-size: 23px"></i>
        </button>
      </form>
    </span>
  </div>
  {{end}}
</div>
<script>
  document.querySelector("input").addEventListener("keyup", () => {
    const input = document.querySelector("input");
    const re = /^[a-zA-Z0-9_ ]+$/;
    if (input.value.trim().length < 5) {
      input.classList.add("is-invalid");
      document.querySelector("span").textContent = "Field too short";
      document.querySelector("span").style.display = "inline";
    } else if (input.value.match(re) == null) {
      input.classList.add("is-invalid");
      document.querySelector("button").classList.add("disabled");
      document.querySelector("span").textContent =
        "Field must be letters,numbers,underscore";
      document.querySelector("span").style.display = "inline";
    } else {
      input.classList.remove("is-invalid");
      document.querySelector("button").classList.remove("disabled");
      document.querySelector("span").style.display = "none";
    }
  });
</script>
